* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    max-width: 100%;
    background-color: white;
    background: url('./images/grass4.png');
}

@font-face {
    font-family: 'Pixel';
    src: url('PressStart2P-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}